@import url(https://fonts.googleapis.com/css?family=Raleway:600,500,400,200);

/* Generic Setup */
body {
	font-family: "Raleway", sans-serif;
	color: #2d3c49;
	font-size: 14px;
}

h1,
h2,
h4 {
	text-transform: uppercase;
}

h1 {
	font-weight: 200;
	font-size: 48px;
	margin: 5px 0;
}

h2 {
	font-weight: 400;
	font-size: 20px;
	margin: 5px;
}

h3 {
	margin: auto 15px;
	color: #7d97ad;
	font-weight: 400;
	font-size: 32px;
}

h4 {
	font-weight: 400;
	font-size: 35px;
	margin: 0;
	padding-top: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover,
a:active,
a:focus {
	color: #7d97ad;
	text-decoration: none;
}

hr {
	margin: 0;
	border-top: 5px solid #7d97ad;
}

/* Utility Classes */

.vertical-center {
	display: flex;
	align-items: center;
}

.img-responsive {
	/* Extend the Bootstrap responsive image class to center images */
	margin: 0 auto;
}

/* Specific Classes */

.logo {
	max-width: 100%;
	margin: 0;
}

.slider-container {
	margin-bottom: 15px;
}

.slide-title {
	font-size: 48px;
	color: inherit;
	background-color: #7d97ad;
	opacity: .8;
}

.splash-img {
	max-width: 100%;
}

.project-url {
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
}

.navbar {
	margin-bottom: 0;
}

/* Advanced */
/* Make column padding smaller */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12  {
	padding: 5px;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
	/* Doubling vw's on mobile to make text more readable */
	h1 {
		font-size: 8.2vw;
	}

	h2 {
		font-size: 3.42vw;
	}

	h3 {
		font-size: 5.48vw;
	}

	h4 {
		font-size: 5.98vw;
	}

	.slide-title {
		font-size: 8.2vw;
	}

	.project-url {
		font-size: 2.4vw;
	}

	.navbar-nav {
		margin: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1170px) {
	/* Using default size above 1170px to prevent scaling beyond Bootstrap parameters */
	h1 {
		font-size: 4.1vw;
	}

	h2 {
		font-size: 1.71vw;
	}

	h3 {
		font-size: 2.74vw;
	}

	h4 {
		font-size: 2.99vw;
	}

	.carousel-caption {
		font-size: 4.1vw
	}

	.slide-title {
		font-size: 1.2vw;
	}
}
